{% extends "base.html" %}
{% block content %}
<h2> Order list</h2>
<div class="content-container">
    <ul class="order-list">
        {% for order in orders %}
        <li class="order-list-item">
            <div class="order-item-info-detail"><p>Order Number: </p><p>{{order['_id']}}</p></div>
            <div class="order-item-info-detail"><p>Order Date </p><p>{{order['order_time']}}</p></div>
            <div class="order-item-info-detail"><p>Order Price: </p><p>{{order['total_price']}}</p></div>
            <ul class="order-foods"> Order Items:
            {% for item in order['order']%}
                <li class="order-foods-li">{{ item['name'], item['price'] }}</li>
            {% endfor %}
            </ul>
        </li> 
        {% endfor %}
    </ul>
</div>
{% endblock %}