{% extends "base.html" %}
{% block content %}
<div>
    <h1>Mario and Luigi's</h1>
</div>
<div class="content-container">
    <div class="home-img">
        <div class="home-texts">
            <h1> AN AUTHENTIC ITALIAN EXPERIENCE</h1>
            <p>Welcome to Mario and Luigi's</p>
            <p>You'll see the wonders of an truely authentic italian delicacy.</p>
            <div class="btn-group">
                <a href="/menu">
                    <button type="button"> See our menu </button>
                </a>
            </div>
        </div>
        <!-- bg src : https://www.pexels.com/photo/a-chef-preparing-a-pizza-5953544/ -->
    </div>
</div>
{% endblock %}