{% extends "base.html" %}
{% block content %}
<div class="sub-nav">
    <h2> Order list</h2>
    <form action="/oven" method='POST' class="oven-form">
        <div class="radio-group">
            <div>
                <label for="on">On</label>
                <input type="radio" value="on" name="oven" id="on">
            </div>
            <div>
                <label for="off">off</label>
                <input type="radio" value="off" name="oven" id="off">
            </div>
        </div>
        <div>
            <button type="submit">Control oven</button>
        </div>
    </form>
</div>
<div class="content-container">
    <ul class="order-list">
        {% for order in orders %}
        <li class="order-list-item">
            <div class="order-item-info-detail"><p>Order Number: </p><p>{{order['_id']}}</p></div>
            <div class="order-item-info-detail"><p>Order Date </p><p>{{order['order_time']}}</p></div>
            <div class="order-item-info-detail"><p>Order Price: </p><p>{{order['total_price']}}</p></div>
            <ul class="order-foods"> Order Items:
            {% for item in order['order']%}
                <li class="order-foods-li">{{ item['name'], item['price'] }}</li>
            {% endfor %}
            </ul>
        </li> 
        {% endfor %}
    </ul>
</div>
{% endblock %}