{% extends "base.html" %}
{% block content %}
<div>
    <h1>Menu</h1>
</div>
<div class="content-container">
    <div class="menu-content">
        <div class="menu-name">
            <div class="menu-price">
                <p> Coca Cola
                </p>
                <p> 2$</p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> Pepsi Cola
                </p>
                <p> 3$</p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> Sprite
                </p>
                <p> 4$</p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> Fanta
                </p>
                <p> 2$</p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> Aqua
                </p>
                <p> 10$</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}