{% extends "base.html" %}
{% block content %}
<div>
    <h1>Menu</h1>
</div>
<div class="content-container">
    <div class="menu-content">
        <div class="menu-name">
            <div class="menu-price">
                <p> Meatball Marinara
                </p>
                <p> 29$</p>
            </div>
            <div>
                <p>Extra pork meatballs, onions, herbs and mozzarella cheese, drizzled with even more of our signature tomato sauce. 249kcal / large slice / classic crust.	</p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> American Hot
                </p>
                <p> 32$</p>
            </div>
            <div>
                <p>Onions, pepperoni, jalapeño peppers. 196kcal / large slice / classic crust.	</p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> Vegetarian Supreme
                </p>
                <p> 44$</p>
            </div>
            <div>
                <p>Red Onions, green & red Peppers, Sweetcorn, Mushrooms and Tomatoes.	</p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> Mighty Meaty
                </p>
                <p> 24$</p>
            </div>
            <div>
                <p>Red Onions, Pepperoni, Mushrooms, Ham, Ground Beef, Cumberland Sausage.	</p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> Ranch BBQ
                </p>
                <p> 12$</p>
            </div>
            <div>
                <p>BBQ sauce, chicken breast strips, pepperoni, ground beef, bacon. 225kcal / large slice / classic crust.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}