{% extends "base.html" %}
{% block content %}
<div>
    <h1>Menu</h1>
</div>
<div class="content-container">
    <div class="menu-content">
        <div class="menu-name">
            <div class="menu-price">
                <p> CARBONARA
                </p>
                <p> 29$</p>
            </div>
            <div>
                <p>bacon, onions, cream, Italian hard cheese, egg yolk, parsley.

                </p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> ALL'ARRABBIATA

                </p>
                <p> 22$</p>
            </div>
            <div>
                <p>tomato sauce, garlic, onions, chilli.

                </p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> BOLOGNESE

                </p>
                <p> 21$</p>
            </div>
            <div>
                <p>our classic beef ragù, onions, carrots, cherry tomatoes, tomato sauce, basil.

                </p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> GAMBERETTI E SPINACI

                </p>
                <p> 24$</p>
            </div>
            <div>
                <p>king prawns, onions, cream, Italian hard cheese, nutmeg, fresh spinach, cherry tomatoes, basil pesto.

                </p>
            </div>
        </div>
        <div class="menu-name">
            <div class="menu-price">
                <p> CHICKEN ALFREDO

                </p>
                <p> 15$</p>
            </div>
            <div>
                <p>chicken, mushrooms, balsamic onions, garlic, cream, Italian hard cheese, egg yolk, nutmeg, parsley


                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}