{% extends "base.html" %}
{% block content %}
    <div>
        <h1>Register Form</h1>
    </div>
    <form action="" method="post" class="register-form">
        <div class="input-container">
            <div>
                <p> Name</p>
            </div>
            <div class="inputs names">
                <div class="name-input-container">
                    <label for="firstname"></label>
                    <input type="text" name="firstname" id="firstname" placeholder="First Name" class="registerform-input">
                </div>
                <div class="name-input-container">
                    <label for="secondname"></label>
                    <input type="text" name="secondname" id="secondname" placeholder="Second Name" class="registerform-input">
                </div>
            </div>
        </div>
        <div class="input-container">
            <div>
                <p> Email</p>
            </div>
            <div class="inputs">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="email" class="registerform-input">
            </div>
        </div>
        <div class="input-container">
            <div>
                <p> Phone</p>
            </div>
            <div class="inputs">
                <label for="tel"></label>
                <input type="tel" placeholder="Phone Number" id="tel" name="tel" class="registerform-input">
            </div>
        </div>
        <div class="input-container">
            <div>
                <p> Password</p>
            </div>
            <div class="inputs">
                <label for="password-1"></label>
                <input type="password" name="password-1" id="password-1" placeholder="Password" class="registerform-input">
            </div>
        </div>
        <div class="input-container">
            <div>
                <p> Password Confirm</p>
            </div>
            <div class="inputs">
                <label for="password-2"></label>
                <input type="password" name="password-2" id="password-2" placeholder="Confirm Password" class="registerform-input">
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="submit-btn">Create Account</button>
        </div>
    </form>
{% endblock %}